*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  background-color: rgba(116, 125, 140, 0.7);
}
.calculator{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
}
.calculator .header h2{
  width: 300px;
  text-align: center;
  padding: 5px;
  color: black;
}

.calculator .header input{
  width: 100%;
  padding: 7.5px;
  font-size: 3rem;
  text-align: right;
  font-weight: bolder;
  border-radius: 3px;
  border: 2px solid black;
}

.calculator .header input::placeholder{
  color: black;
}

.calculator .calbody{
  border-radius: 3px;
  margin-top: 3px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 3px;
}

input[type = 'button']{
  background-color: grey;
  height: 50px;
  border-radius:  4px;
  font-size: 2rem;
  cursor: pointer;
  border: none;

}

input[type = 'button']:hover{
  color: white;
  background-color: #4f8a8b;
}

#oper{
  color: white;
  background-color: #07031a;
}

#oper:hover{
  color: white;
  background-color: #4f8a8b;
}

#eqoper{
  background-color: #ffcb74;
  color: black;
  grid-area: 5/3/5/5;
}
#eqoper:hover{
  color: white;
  background-color: #4f8a8b;
}
